@import 'partials/clearfix';
@import 'partials/reset';
@import "partials/settings";
@import "partials/foundation";

//Variables
$dark-color : #333333;
$backgroundImage : url('/assets/sativa.png');


//Media Queries
$small : "only screen and (max-width: em-calc(640))";
$medium : "only screen and (max-width: em-calc(641))";


// $small-breakpoint:  em-calc(640);
// $medium-breakpoint: em-calc(1024);
// $large-breakpoint:  em-calc(1440);
// // $xlarge-breakpoint: em-calc(1920);

// $small-range:   (0, $small-breakpoint);
// $medium-range:  ($small-breakpoint  + em-calc(1), $medium-breakpoint);
// $large-range:   ($medium-breakpoint + em-calc(1), $large-breakpoint);




body {
  background-image: $backgroundImage;
  box-sizing: border-box;
}

.heading_row{
  .heading{
    border: 1px solid black;
  }

  .sub_heading{
    border: 1px solid black;
  }
}



.slider_row{
  padding-bottom: 2%;
  border-bottom: 1px solid black;
}


.post_house{

  margin-top: 2%;


  .single_post{
    border-bottom: 1px solid black;
    margin-top: 2%;

    .home_page_image{
      height: 150px;
      width: 100px;

      @media #{$medium}{
        height: 250px;
        width: 300px;
      }
    }

    .author{
      font-size: 18px;
    }

    .description{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }
}

