@import 'partials/clearfix';
@import 'partials/reset';
@import "partials/settings";
@import "partials/foundation";

//Variables
$dark-color : #333333;
$grey : #7e7e7e;
$greyLine : #bdbdbd;
$backgroundImage : url('/assets/sativa.png');




body {
  background-image: $backgroundImage;
  box-sizing: border-box;
}

a{
  color: $grey;
}

a:link{
  color: $grey;
}

a:hover{
  color: $grey;
}

a:visited{
  color: $grey;
}


.hidden{
  display: none;
}

.heading_row{
  padding-top: 2%;
  text-align: center;

  .logo{

  }

  .sub_heading{

    .sub_head_text{
      font-size: .9rem;
    }
  }
}



.slider_row{
  padding-bottom: 2%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-bottom: 2px solid $greyLine;


}


.post_house{
  margin-top: 2%;
  margin-bottom: 10%;

  .home_line{

    @media #{$small}{
      border-bottom: 2px solid $greyLine;
    }
  }
  .single_post{
    margin-top: 2%;
    border-bottom: 1px solid black;


    .home_page_image{
      width: 90%;
      height: 300px;
      margin: auto;
      background-size: cover;
      background-repeat: no-repeat;

      @media #{$medium-up}{
        width: 90%;
        height: 160px

      }
    }


    .author{
      font-size: 18px;
      margin-top: 2%;
      margin-left: 3%;
    }

    .description{
      margin-left: 3%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }
}

.individual_page_content_container{
  margin-top: 2%;
  font-size: 1.3em;
  color: $grey;


  .individual_page_author_head{
      padding-left: 9%;
      margin-bottom: 0;

      @media #{$medium-up}{
        font-size: 1em;

      }

    .spanlink{
      display: inline-block;
      width: 250px;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .individual_post{
    width: 90%;
    height: 400px;
    margin: auto;

  }
  .individual_page_image{
    width: 90%;
    height: 300px;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;

    @media #{$medium-up}{
      width: 90%;
      height: 400px;
    }
  }
  .edit_button {
    margin-top: 3%;
    margin-left: 3%;
  }
  .copyright_individual{
    margin-top: 1%;
    padding-left: 5%;
  }


}

.sidebar_content{
  text-align: center;
  border: 1px solid blue;
  height: 700px;
  overflow-y: auto;
  display: block;

  .sidebar_image{
    width: 305px;
    height: 220px;
  }

  .sidebarlink{
    display: inline-block;
    width: 175px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .sidebar_sub_info{
    margin-top: 2%;
    margin-left: 5%;
  }
}


  .formButtons{
    display: block;
  }
