@import 'partials/clearfix';
@import 'partials/reset';
@import "partials/settings";
@import "partials/foundation";

//Variables
$dark-color : #333333;
$grey : #7e7e7e;
$greyLine : #bdbdbd;
$backgroundImage : url('/assets/sativa.png');




body {
  background-image: $backgroundImage;
  box-sizing: border-box;
}

a{
  color: $grey;
}

a:link{
  color: $grey;
}

a:hover{
  color: $grey;
}

a:visited{
  color: $grey;
}


.hidden{
  display: none;
}

.heading_row{
  height: 150px;
  padding-top: 2%;

  .logo{
    // @media #{$medium-up}{
    //   line-height: 9;
    // }
  }

  .sub_heading{

  }
}



.slider_row{
  padding-bottom: 2%;

  @media #{$medium-up}{
    border-bottom: 2px solid $greyLine;
  }

}


.post_house{

  margin-top: 2%;
  margin-bottom: 10%;

  .home_line{

    @media #{$medium-up}{
      border-bottom: 2px solid $greyLine;
    }
  }
  .single_post{
    margin-top: 2%;


    .home_page_image{
      height: 180px;
      width: 375px;

      @media #{$medium-up}{
        height: 180px;
        width: 300px;
      }
    }

    .individual_page_image{
        height: 190px;
        width: 300px;

      @media #{$medium-up}{
        height: 400px;
        width: 630px;
      }
    }

    .author{
      font-size: 18px;
    }

    .description{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }
}

.individual_page_content_container{
  margin-top: 2%;
  font-size: 1.3em;
  color: $grey;

  .individual_page_author_head{

      @media #{$medium-up}{
        font-size: 1em;
      }

    .spanlink{
      display: inline-block;
      width: 250px;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;


    }
  }

  .sidebar_content{
    display: none;
    height: 700px;
    overflow-y: auto;

    @media #{$medium-up}{
      display: visible;
    }

    .sidebar_image{
      width: 305px;
      height: 220px;
    }

    .sidebarlink{
      display: inline-block;
      width: 175px;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .sidebar_sub_info{
      margin-top: 2%;
      margin-left: 5%;
    }
  }
}