extends base
block append body
  h1 Awesome Images
  div.post_house
    each picture in pictures
      img.image(src= picture.link)
      h3.author Author: #{picture.author}
      p.description= picture.description
