include mixin
extends base
block append body
  +headingSection
  div.row.slider_row
    div.slider_image.small-12.large.12.columns
      +slickSlider

  div.row.post_house
      each picture in pictures
        a(href="/gallery/#{picture.id}")
          +picturePost(picture)

