extends base
block append body
  h1 A Picture
  h2!= author
  div.post_house
    div.single_post
      img.image(src= picture.link)
      h3.author Author: #{picture.author}
      p.description= picture.description
      p.edit_button
        a(href="/gallery/#{picture.id}/edit")
          button(
            ) edit me
