include mixin
extends base
block append body
  h1 A Picture
  h2!= author
  div.post_house
    +picturePost(picture)
      .delete_button
        a(href="/gallery/#{picture.id}") Delete me
      .back_to_home
        a(href="/") Home


