mixin picturePost(picture)
  div.single_post
    img.image(src= picture.link)
    h3.author Author: #{picture.author}
    p.description= picture.description
    div.edit_button
      a(href="/gallery/#{picture.id}/edit")
        button(
          ) edit me
    if block
      block
    else


